<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Clientes</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item mr-5">
					<a class="nav-link" href="#">Add a client</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid" >
		<div class="py-3">
			<h1 class="font-weight-bold">
				Welcome !!!
			</h1>
		</div>
		<h2>Clientes</h2>
	</div>
	 <!-- Inicio Tabla -->
	<div class="container-fluid table-fixed thead">	
	<table class="table table-hover table-responsive">
			<thead class="thead-dark">
				<tr>
					<th class="" scope="col">Id cliente</th>
					<th class="" scope="col">Nombre Compañia</th>
					<th class="" scope="col">Nombre Contacto</th>
					<th class="" scope="col">Titulo Contacto</th>
					<th class="" scope="col">Dirección</th>
					<th class="" scope="col">Ciudad</th>
					<th class="" scope="col">Región</th>
					<th class="" scope="col">Código Postal</th>
					<th class="" scope="col">País</th>
					<th class="" scope="col">Telefono</th>
					<th class="" scope="col">Mail</th>
					<th class="" scope="col">Clave</th>
				</tr>
			</thead>
			<tbody>				<!-- "clientes": es el nombre definido en el controlador cuando agregamos el objeto(modelAndView.addObject) -->	
				<tr th:each="var:${clientes}"> <!-- th:each: atributo de Thymeleaf para iterar lista de objetos dejadas en "var"  -->
					<!-- hace referencia a la ruta del controlador del metodo showCliente -->
                    <td scope="row"><a th:text="${var.idCliente}" th:href="@{'/' + ${var.idCliente}}"></a></td>
                    <td th:text="${var.nombreCompania}" />
                    <td th:text="${var.nombreContacto}" />
                    <td th:text="${var.tituloContacto}" />
                    <td th:text="${var.direccion}" />
                    <td th:text="${var.ciudad}" />
                    <td th:text="${var.region}" />
                    <td th:text="${var.codigoPostal}" />
                    <td th:text="${var.pais}" />
                    <td th:text="${var.telefono}" />
                    <td th:text="${var.mail}" />
                    <td th:text="${var.clave}" />
    			</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>